{% extends '@!EasyAdmin/layout.html.twig' %}

{% block content_help %}
    {% if has_help_message %}
        <a tabindex="0" class="content-header-help" aria-label="Aide"
           data-bs-toggle="popover"
           data-bs-custom-class="ea-content-help-popover"
           data-bs-animation="true"
           data-bs-html="true"
           data-bs-placement="bottom"
           data-bs-trigger="focus"
           data-bs-content="{{ ea.crud.helpMessage|trans|e('html') }}">
            <twig:ea:Icon name="internal:circle-info" />
        </a>
    {% endif %}
{% endblock %}

{% block search_form %}
    {{ block('search_form_filters') }}

    <div class="form-group">
        <div class="form-widget">
            <twig:ea:Icon name="internal:search" class="content-search-icon" />

            <label class="content-search-label" data-value="{{ app.request.query.get('query') }}">
                <input class="form-control {{ app.request.query.get('query') is null ? 'is-blank' }}"
                       type="search" name="query"
                       value="{{ app.request.query.get('query') ?? '' }}"
                       placeholder="{{ t('action.search', ea.i18n.translationParameters, 'EasyAdminBundle')|trans }}"
                       spellcheck="false" autocorrect="off"
                       onInput="this.parentNode.dataset.value=this.value"
                       {% if ea.crud.currentAction == 'index' and ea.crud.autofocusSearch == true %} autofocus="autofocus"{% endif %}>
            </label>

            {% if app.request.query.get('query') %}
                {% set search_reset_url = ea_url().unset('query').unset('page').setController(ea.request.attributes.get('crudControllerFqcn')).setAction('index') %}
                <a href="{{ search_reset_url }}" class="content-search-reset" aria-label="Effacer la recherche">
                    <twig:ea:Icon name="internal:xmark" />
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}
