{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="hero bg-base-200 flex-1">
    <div class="hero-content flex-col lg:flex-row-reverse">
        <div class="text-center lg:text-left">
            <h1 class="text-5xl font-bold">Connexion</h1>
            <p class="py-6">
                Bienvenue sur CesiZen. Connectez-vous pour accéder à votre espace personnel.
            </p>
        </div>
        <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
            <div class="card-body">
                {% if error %}
                    <div class="alert alert-error">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}

                <form method="post" action="{{ path('app_login') }}">
                    <fieldset class="fieldset">
                        <label class="label">Email</label>
                        <input type="email" name="_username" value="{{ last_username }}" class="input w-full" placeholder="Email" autocomplete="email" required />

                        <label class="label">Mot de passe</label>
                        <input type="password" name="_password" class="input w-full" placeholder="Mot de passe" autocomplete="current-password" required />

                        <button type="submit" class="btn btn-neutral mt-4 w-full">Se connecter</button>

                        <p class="text-center text-sm mt-4">
                            Mot de passe oublié ?
                            <a href="{{ path('app_forgot_password_request') }}" class="link link-hover font-semibold">Réinitialiser le mot de passe</a>
                        </p>

                        <p class="text-center text-sm mt-4">
                            Pas encore de compte ?
                            <a href="{{ path('app_register') }}" class="link link-hover font-semibold">Créer un compte</a>
                        </p>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
